<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View <%= contact.fName%></title>
    <!--   FAVICON -->
    <link rel="icon" type="image/png" sizes="96x96" href="/images/small/favicon-96x96.png">
    <!-- CONNECTS WEB FONT   -->
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Merienda|Rancho" rel="stylesheet">

    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--   CONNECT JS FILES  -->
    <script src="/script.js"></script>
    <script src="/script2.js"></script>
    <!--   FONT AWESOME FOR LOGO ICON    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    BOOTSTRAP    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--  ICON X  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--   CONNECTS CSS FILE -->
    <link href="/css/style.show.css" rel="stylesheet">
</head>

<body>
    <div>

    <header>Contacts: View <%= contact.fName%> </header>
        <div class="template">
    <h4> <%= contact.fName%></h4>
    <br><br>
    <h5>Email Address:  <%= contact.email%></h5>
    <h5>Phone Number:  <%= contact.phone%></h5><br>
    <h5>Comments:  </h5>
    <p> <%= contact.comment%></p>
    <a href="/contacts/<%= contact._id%>/edit" id="edit"><button>Edit</button></a>
            <br>
    <form action="/contacts/<%= contact._id%>?_method=DELETE" method="post">
    <button>Delete</button>
    </form>
    <a href="/contacts" id="back">Back To Contacts</a>
    </div>


    </div>
    </body>

</html>
